@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik&display=swap');

body{
  font-family: Rubik, sans-serif;
}

.home{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* fr = fractions */
}

.channels{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.user-account{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}


header{
    margin: 0;
    min-height: fit-content;
    background-color: darkslategray;
    /* min-height: 180px; */
    /* height: 380px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.logo{
    background: url(../images/SlackBook-Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    /* display: flex; */
    min-height:fit-content;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.navbar{
    background-color: aqua;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}

.seachbar{
    text-align: center;
}

.seachbar-input{
  border-radius: 10px;
}

.dropdown-toggle{
  width: fit-content;
}

.account-image{
  border-radius: 100%;
}