{% extends 'base.html' %}


{% block content %}
    <h1>Home Template</h1>

    <!-- <style>
        .home{
            display: grid;
            grid-template-columns: 1fr 3fr;
            /* fr = fractions */
        }
    </style> -->
    
    <div class="home">
        

        <div>
            {% include 'base/category.html' %}
            <!-- <h2>Channels</h2>
            <hr>

            <div>
                <a href="{% url 'home' %}">All Channels</a>
            </div>

            {% for topic in topics %}
                <div>
                    <a href="{% url 'home' %}?r={{topic.title}}">{{topic.title}}</a>
                    this leads to the home-page with the url-endig of ?r=topic.title (e.x. pizza) -->
                    <!-- r = request couls be any letter -->
                <!-- </div>
            {% endfor %} -->

        </div>

        <div>
            <h4>{{channel_count}} Channels available</h4>
            <a href="{% url 'create-channel' %} ">Create Channel</a>

            <div>
                {% include 'base/channels_available.html' %}        
                <!-- {% for topic in channels %}
                <div>

                    {% if request.user == topic.host %}
                        <a href="{% url 'update-channel' topic.id %}">Edit</a>
                        <a href="{% url 'delete-channel' topic.id %}">Delete</a>
                    {% endif %} -->

                    <!-- <span>@{{ topic.host.username }}</span> -->
                    <!-- host.user is a django function -->
                    <!-- <h4>{{topic.id}} -- <a href="{% url 'channel' topic.id %} ">{{topic.title}}</a></h4> -->
                    <!-- <h4>{{topic.id}} -- <a href="/channel/{{topic.id}}">{{topic.title}}</a></h4> -->
                    <!-- this leads to channel(name!) with the right id -->
                    
                    <!-- <small>{{ topic.topic.title }}</small>
                    <hr>
                </div> -->
                <!-- {% endfor %} -->
            </div>

        </div>

        <div>
            {% include 'base/recent_activities.html' %}
        </div>

        

    </div>

{% endblock %}