{% extends 'base.html' %}


{% block content %}
    <h1>Home Template</h1>

    <div>

        <div>          
            {% for topic in channels %}
            <div>
                <span>@{{ topic.host.username }}</span>
                <!-- host.user is a django function -->
                <h4>{{topic.id}} -- <a href="/channel/{{topic.id}}">{{topic.title}}</a></h4>
                <!-- this leads to channel with the right id -->
                <small>{{ topic.topic.title }}</small>
                <hr>
            </div>
            {% endfor %}
         </div>

    </div>

{% endblock %}