<h3>Recent Avtivities</h3>
            <hr>
            {% for comment in comments %}
                <div>
                    <small><a href="{% url 'user-account' comment.user.id %}">@{{ comment.user }}</a> - {{ comment.created_on|timesince }}</small>
                    <br>
                    <h5>Channel: {{ comment.channel }}</h5>
                    <h4>{{ comment }}</h4>
                    {% if request.user == comment.user%}
                        <a href="{% url 'delete-comment' comment.id %}"><button>Delete Comment</button></a>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}