{% extends 'base.html' %}

{% block content %}
    <h2>LogIn Page!!</h2>
    <div>
        <form action="" method="POST">
            {% csrf_token %}

            <label for="username">Username: </label>
            <input id="username" type="text" placeholder="Please enter Username" name="username">

            <label for="password">Password: </label>
            <input id="password" type="password" placeholder="Please enter Password" name="password">
            <hr>
            <input type="submit" value="Login">
        </form>
    </div>

{% endblock %}